html {
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;    
}

.container {
    width: 100%;
    height: auto;
    background-color: #fff;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4e5166;
    padding: 2% 0;
    position: fixed;
}

.navbar ul {
    padding: 0;
}

.nav_logo {
    width: 200px;
    height: 40px;
    position: absolute;
    left: 5%;
}

.nav_list {
    margin: 0;
    display: flex;
    align-items: center;
    list-style: none;
}

.nav_list a {
    color: #fff;
}

.nav_list a:hover{
    color: #fd2d01;
}

.logout_div {
    position: absolute;
    right: 5%;
    color: #fff;
}


.logout_div:hover{
    color: #fd2d01;
}

@media only screen and (max-width: 768px) {
    .nav_logo {
        width: 125px;
        height: 25px;
    }
}