.create_post {
    display: flex;
    justify-content: center;
    padding: 1%;
}

.post_form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3%;
}

.text_area {
    border: 2px solid #4e5166;
    resize: none;
    border-radius: 20px;
    padding: 3%;
}

.btn_nav {
    display: flex;
    justify-content: flex-end;
}

.btn_post {
    width: 80px;
    height: 30px;
    background-color: #fd2d01;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 10%;
}