.create_post {
    display: flex;
    justify-content: center;
    padding: 8% 2% 1% 2%
}

.post_form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3%;
}

.text_area {
    width: 80%;
    height: 50%;
    border: 2px solid #4e5166;
    resize: none;
    border-radius: 20px;
    padding: 3%;
    margin: auto;
}

.btn_nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1%;
}

.btn_post {
    width: 80px;
    height: 30px;
    background-color: #fd2d01;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 10%;
}

.input_image_container {
    display: flex;
    flex-direction: column;
}

.input_image {
    width: 100px;
    height: 100px;
}

input[type="file"] {
    display: none;
}

.file_label {
    padding: 1%;
}

.file_label i{
    color: #4e5166;
}
